<%= render 'layouts/header' %>

<div class="about-container">
  <h2>
    Q. Sake Searchとは？
  </h2>

  <h3>
    A. 日本酒の銘柄検索サービスです。
  </h3>

  <h4>
    主な機能は以下の2つ！
  </h4>

  <h3 class="about-heading">
    【1】日本酒の銘柄を検索し、詳細な情報をさがす
  </h3>
  <h4>
    検索方法は、銘柄名、タグ名、取り扱い店舗名（※後述）となります。<br>
    「あの銘柄ってどんなお酒だったっけ？」<br>
    「甘口のお酒をもっと知りたいんだけど、何かないだろうか？」<br>
    「好みのお酒をもっと探したい！」<br>
    というニーズにこたえています。<br>
  </h4>

  <h3 class="about-heading">
    【2】銘柄ごとに取り扱い店舗（飲食店）を知ることができる
  </h3>
  <h4>
    店舗情報には地図やURLのリンクなどが貼っており、<br>
    「このお酒飲みたい時はここのレストランに行けばいいのか！」<br>
    などということが分かります。<br>
  </h4>

  <h4>
    ワインバーは至るところにあるけれど、日本酒って居酒屋でしか飲めないんでしょ？<br>
    いえ、そんなことありません！
    しかし、同じ醸造酒でありながらも、ワインやビールより比べると少々敷居が高いのではないでしょうか。<br>
    日本全国に日本酒バーはたくさんありますし、酒屋さんの店頭で飲める"角打ち"も増えています。<br>
  </h4>

  <h4>
    このサービスを通して、特に若い方を中心に、
    日本酒の魅力を感じてもらい、日本酒人口を増やしていきたいと思います。
    そして、ワインが世界中で広く飲まれているように、
    あらゆる国において、人々をちょっと幸せにするものとして
    美味しい日本酒がもっともっと選ばれていくことを願っています。
  </h4>

</div>

<%= render 'layouts/footer' %>