<%= render 'layouts/header' %>

<div class="about-container">
  <h2>
    Q. Sake Searchとは？
  </h2>

  <h3>
    A. 日本酒の銘柄検索サービスです。
  </h3>

  <h4>
    主な機能は以下の2つ！
  </h4>

  <h3 class="about-heading underline-orange">
    【1】日本酒の銘柄をさがす、情報をしらべる
  </h3>
  <h4>
    銘柄名、タグ名、取り扱い店舗名などから検索できます。<br>
    「あの銘柄ってどんなお酒だったっけ？」<br>
    「甘口のお酒を何かなかったかな？」<br>
    「好みの日本酒をもっと探したい！」<br>
    というニーズにこたえています。<br>
  </h4>

  <h3 class="about-heading underline-orange">
    【2】そのお酒を実際に飲める場所をさがす
  </h3>
  <h4>
    店舗情報には地図やURLのリンクなどが貼っており<br>
    実際にどこに行けば飲めるのかを知ることができます。<br>
    また、地域ごとの検索もできるので<br>
    「渋谷で飲めるお酒を探す」などということもできます。<br>
  </h4>

  <h3 class="about-heading">
    ◆このサービスのねらい
  </h3>

  <h4>
    特に若い人や日本酒に詳しくない方を中心に<br>
    日本酒ファンが増えればと思いました。<br>
    日本酒バーや酒屋さんの店頭で飲める<%= link_to "角打ち", "https://ja.wikipedia.org/wiki/%E8%A7%92%E6%89%93%E3%81%A1", style:"text-decoration:underline" %>もあり<br>
    気軽に日本酒を飲める環境が増えています。<br>
  </h4>

  <h4>
    ビールやワインが多くの人に飲まれているように<br>
    世界中の人々をちょっと幸せにするものとして<br>
    美味しい日本酒がもっともっと選ばれていくことを願っています。<br>
  </h4>

</div>

<%= render 'layouts/footer' %>