<div class="top-background-image">

  <header style="height:60px">

  ここヘッダー

  </header>

  <div class="blank-up" style="height:30vh; width:100%; opacity:0; background-color:#EEE">
    
  </div>

  <div class="title" style="height:20vh; width:100%; background-color:blue">
    甘さと旨みの、その先へ。
  </div>

  <div class="search" style="height:20vh; width:100%; background-color:green">
    ここに検索入ります

      <%=form_tag about_path, method: :get do %>
            <%=text_field_tag :search, params[:search] ,placeholder: "お酒の銘柄で検索" %>
            <%= submit_tag "検索" , class: "btn" %>
      <% end %>

  </div>

  <div class="blank-low" style="height:calc(30vh - 100px); opacity:0; width:100%; background-color:#EEE">
    
  </div>

  <footer style="height:40px">
  </footer>

</div>