<%= render 'layouts/header' %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="items-container clearfix">

  <div class="items-wrapper">
    <h1>銘柄追加</h1>
    <%= render 'items/items_format' %>
  </div>

  <div class="tags-wrapper">
    <h1>タグ作成</h1>
    <%= render 'items/tags_format' %>
  </div>

</div>