@import "bootstrap-sprockets";
@import "bootstrap";
@import "homes.scss";
@import "items.scss";



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;
}

li {
  list-style: none;
}



// layouts/header

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #eee;
  opacity: 0.7;
  font-size: 28px;
  line-height: 60px;
}

.header-left {
  position: absolute;
  left: 0;
  padding-left: 30px;
}

.header-right {
  position: absolute;
  right: 0;
  padding-right: 30px;
}

.dropdown-menu {
  width: 60px;
  font-size: 24px;
  line-height: 24px;
  text-align: right;
}



// homes#top

.top-background-image {
  width: 100vw;
  height: 100vh;
  background: image-url('sake2.jpg');
  background-position: center;
  background-size: cover;
}



// devise
.devise-container {
  width: 50%;
  min-width: 400px;
  margin: 30px auto;
  padding-bottom: 20px;
  border: 3px dotted orange;
  border-radius: 2%;
}

.devise-box {
  width: 310px;
  margin: 0 auto;
}

.devise-box h2,.devise-box h5,.devise-box .btn {
  margin-bottom: 20px;
}

.field {
  margin-bottom: 20px;
}

.devise-left {
    float:left;
}

.devise-right {
    float:right;
}



// items#new

.items-container {
  width: 40%;
  margin: 60px auto;
}

.title-text {
  margin: 60px 0;
}