@import "bootstrap-sprockets";
@import "bootstrap";
@import "homes.scss";
@import "items.scss";
@import "stores.scss";



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic', Avenir, Corbel, Osaka, sans-serif;
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;
}

li {
  list-style: none;
}

a,
a:hover {
  color: #222;
  text-decoration: none;
  transition: 0.2s;
}



// layouts/header

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #eee;
  opacity: 0.7;
  font-size: 28px;
  line-height: 60px;
  box-shadow: 0 4px 12px rgba(black, 0.1);

  a {
    color: black;
    text-decoration: none;
  }
}

.header-left {
  position: absolute;
  left: 0;
  padding-left: 30px;
}

.header-center {
  font-size: 20px;
}

.header-right {
  height: 60px;
  position: absolute;
  right: 0;
  padding-right: 30px;

  a:hover {
    color: #ff8c00;
    font-weight: bold;
  }
}

.dropdown-menu {
  width: 60px;
  font-size: 24px;
  line-height: 24px;
  text-align: right;
}



// layouts/footer
footer {
  width: 100%;
  height: 40px;
  background-color: #eee;
  opacity: 0.7;
  position: fixed;
  bottom: 0;

  h6 {
    font-size: 1em;
    padding-left: 30px;
    line-height: 40px;
    margin: 0;
  }
}



// homes#top

.top-background-image {
  width: 100vw;
  min-height: 100vh;
  background: image-url('sake2.jpg');
  background-size: cover;

  // 以下footer下部固定用
  position: relative; /*←相対位置*/
  padding-bottom: 40px; /*←footerの高さ*/
}

.top-container {
  width: 70vw;
  margin: 20vh auto 0;

  .slogan-area {
    h1 {
      color: #444;
      font-size: 50px;
      font-weight: bold;
    }
  }

  .tops-search-area {
    margin-top: 10vh;
    font-size: 30px;
    line-height: 50px;
  }

  .tops-search-box {
    width: 420px;
    padding-left: 20px;
  }

  .tops-submit-tag {
    padding: 0 10px;
  }

  .tops-search-details {
    margin: 1vh 20px;

    a {
      color: #444;
      // background-color: #999;
      // border-radius: 5%;
    }
    a:hover {
      background-color: #eee;

    }
  }
}



// devise

.devise-container {
  width: 50%;
  min-width: 400px;
  margin: 50px auto;
  padding-bottom: 20px;
  border: 3px dotted orange;
  border-radius: 2%;
}

.devise-box {
  width: 310px;
  margin: 0 auto;
}

.devise-box {
  h2,
  .btn {
    margin-bottom: 60px;
    // border: 50px solid red;
  }
}

.field {
  margin-bottom: 20px;
}



// items#new

.items-container {
  width: 80%;
  margin: 60px auto;

  h1 {
    margin-bottom: 40px;
  }
}

.items-wrapper {
  width: 50%;
  padding: 0 60px;
  float: left;
}

.tags-wrapper {
  width: 50%;
  padding: 0 30px;
  float: left;
  border-radius: 3%;
  // background-color: yellow;
}





// stores#new

.stores-container {
  width: 40%;
  margin: 60px auto;
}

.title-text {
  margin: 60px 0;
}



// items#show

.items-show-container {
  width: 90vw;
  margin: 0 auto;
}

.sake-visual-area {
  width: 25%;
  float: left;
  // background-color: blue;
}

.sake-visual {
  width: 100%;
  background-size: cover;
}

.items-show-body {
  width: 75%;
  padding: 0 20px 0;
  float: right;
  // background-color: pink;
}

.items-title-name {
  font-size: 5vmax;
}

.items-title-made_in {
  font-size: 3vmax;
}

.category-text,
.tag-text {
  margin: 10px 0;
}

.parameter-text {
  font-size: 1.2vmax;
  margin-right: 20px;
  line-height: 30px;
}

.introduction-text {
  margin-top: 10px;
  border: 1px dotted #ccc;
}



// items#result
.result-search {
  margin: 0 auto;
}

.items-result-container {
  width: 80vw;
  margin: 0 auto;
  padding: 30px 0;
}

.result-title-text {
  margin-bottom: 50px;
}

.result-row {
  margin-bottom: 30px;
}

.result-visual-area {
  float: left;
  width: 155px;

  .white-mask {
    width: 160px;
    height: 160px;
    background: rgba(255,255,255,0);
    border-radius: 50%;
    position: relative;

    .result-visual-content {
      height: 160px;
      position: absolute;
      // background-color: #eee;
      background: linear-gradient(to bottom, #fff, #ddd);
      border-radius: 50%;
      opacity: 0.4;
      transition: 0.3s;
    }
    .result-visual-content:hover {
      opacity: 1;
      transition: 0.3s;
    }
  }
}

.result-body-area {
  float: left;
  width: calc(100% - 155px);

  .result-items-name {
    height: 30px;
    // line-height: 30px;
    transition: 0.3s;
  }

  .result-items-name:hover {
    color: orange;
    font-size: 2em;
    transition: 0.3s;
  }
}


