// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// homes#top
.top-background-image {
  width: 100vw;
  height: 100vh;
  background: image-url('sake2.jpg');
  background-position: center;
  background-size: cover;
}