<div class="navbar">

  <!-- header 左側 -->
  <div class="header-left">
    <p>
      <%= link_to 'Sake-search', root_path %>
    </p>
  </div>

  <!-- header 中央 -->
  <div class="header-center">
    <% if controller.action_name == "top" %>
      EN
     <% end %>
  </div>

  <!-- header 右側 -->
  <div class="header-right">
    <h4>
      <ul>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      </ul>
    </h4>
  </div>

</div>




