<div class="navbar">

  <!-- header 左側 -->
  <div class="header-left">
    <p>
      <%= link_to 'Sake-search', root_path %>
    </p>
  </div>

  <!-- header 中央 -->
  <div class="header-center">

    <% if controller.action_name == "top" %>
      EN - <%= link_to 'logout', destroy_user_session_path, method: :delete %>
    <%# if controller.action_name == "top" %>
      <!-- EN -->

    <% elsif controller.controller_name == "items" %>
      <% if controller.action_name == "new" %>
        + 銘柄追加 +
      <% elsif controller.action_name == "edit" %>
        + 銘柄編集 +
      <% elsif controller.action_name == "show" %>
        + 銘柄詳細 +
      <% elsif controller.action_name == "result" %>
        + 銘柄検索 +
      <% end %>

    <% elsif controller.controller_name == "stores" %>
      <% if controller.action_name == "new" %>
        + 店舗追加 +
      <% elsif controller.action_name == "edit" %>
        + 店舗編集 +
      <% elsif controller.action_name == "show" %>
        + 店舗詳細 +
      <% end %>
    <% end %>

  </div>

  <!-- header 右側 -->
  <div class="header-right">
    <h4>
      <ul>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      </ul>
    </h4>
  </div>

</div>